@using Microsoft.AspNet.Identity
@model myProject.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <a id="user_profile" href="@Url.Action("ViewProfile","Account",new {id=Model.UserId})">
            <img class="user_thumbnail" src="@Model.User.Avatar" />
            <h6>@Model.User.UserName</h6>
        </a>
        @if (Int32.Parse(User.Identity.GetUserId()) == Model.UserId)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        }
        <dd>
            <img src="@Model.Logo" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    <div id="replyHere">
        @if (Model.Reply == null)
        {
            @Ajax.ActionLink("Add reply", "Create", "Replies", new { ticketId = Model.Id }, new AjaxOptions { UpdateTargetId = "replyHere" })
        }
        else
        {
            @Html.Action("ShowReply", "Replies", new { id = Model.Id })
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Tickets")
</p>
