@using System.Web.UI.HtmlControls
@model IEnumerable<myProject.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ticket_header">Tickets</h2>

<p class="create_ticket">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-6">
    <ul class="content">
        <ul class="pagination custompages">
            @for (int i = 0; i < (int)ViewData["TicketsPageNum"]; i++)
            {
                <li><a href="@Url.Action("Tickets", new {pageNum = i})">@(i + 1)</a></li>
            }
        </ul>
        @foreach (var item in Model)
        {
            <li class="ticket">
                <div class="image">
                    <a href="@Url.Action("Details", new {id = item.Id})">
                        <img class="ticket_photo" alt="no photo" src="@item.Logo" />
                    </a>
                </div>
                <div class="details">
                    <p class="ticketsType"><a class="ticket_details" href="@Url.Action("Details", new {id = item.Id})">@item.Title</a>
                        @Html.DisplayNameFor(model => model.TypeOfTicket)
                        :
                        @Html.DisplayFor(modelItem => item.TypeOfTicket)
                    </p>
                    <p class="ticketsLocation">
                        @Html.DisplayFor(modelItem => item.User.Country), @Html.DisplayFor(modelItem => item.User.City)
                    </p>
                    <a id="user_profile" href="@Url.Action("Manage","Account",new {id=item.UserId})">
                        <img class="user_thumbnail" src="@item.User.Avatar" />
                    </a>
                    <div>
                        <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<div class="col-md-6">
    <ul class="filter-options">
        <li><a href="@Url.Action("Tickets", new { sort = 1})">Sort by type</a></li>
    </ul>
</div>
