@using Microsoft.AspNet.Identity
@model WebUI.ViewModels.MessageViewModel

@{
    Layout = null;
}

<div id="messageForm">
    <dl class="dl-horizontal">
        <a id="user_profile" href="@Url.Action("ViewProfile", "Account", new { id = Model.UserId })">
            @Model.UserName
        </a>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageText)
        </dd>
    </dl>
    <p>
        @if (Int32.Parse(User.Identity.GetUserId()) == Model.UserId)
        {
            @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "messageForm" })
            @Html.Raw(" |")
            @Ajax.ActionLink("Delete", "Delete", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "messageForm" })
        }
    </p>
</div>

<script>
    'use strict';
    $.ajax({
        url: '../Message/MessagesCount',
        dataType: 'html',
        traditional: true,
        type: 'GET',
        success: function (content) {
            $("#countMessages").html(content);
        }
    });
</script>