@using Microsoft.AspNet.Identity
@model IEnumerable<WebUI.ViewModels.MessageViewModel>
<div id="messagePartial">
    <table class="table_class">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IsRead == false && item.UserId != Int32.Parse(User.Identity.GetUserId()))
            {
                <tr class="colored">
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    @if (item.UserId != Int32.Parse(User.Identity.GetUserId()))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserNameTo)
                        </td>
                    }
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Ajax.ActionLink("View details", "Details", "Message", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "messagePartial"})
                    </td>
                </tr>
            }
            else
            {
                  <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    @if (item.UserId != Int32.Parse(User.Identity.GetUserId()))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.UserNameTo)
                        </td>
                    }
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Ajax.ActionLink("View details", "Details", "Message", new {id = item.Id}, new AjaxOptions {UpdateTargetId = "messagePartial"})
                    </td>
                </tr>
            }
        }
    </table>
</div>

