@using Microsoft.AspNet.Identity
@model WebUI.ViewModels.TicketViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="dl-horizontal">
        <a id="user_profile" href="@Url.Action("ViewProfile", "Account", new { id = Model.UserId })">
            @Model.UserName
            <img class="user_thumbnail" src="@Model.UserAvatar" />
        </a>
        <dd>
            <img src="@Model.Logo" alt="no photo" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
    <div id="replyHere">
        @if (Model.ReplyMessage == null && Model.UserId != Int32.Parse(User.Identity.GetUserId()))
        {
            @Ajax.ActionLink("Add reply", "Create", "Replies", new { ticketId = Model.Id }, new AjaxOptions { UpdateTargetId = "replyHere" })
        }
        else if (Model.ReplyMessage != null)
        {
            @Html.Action("ShowReply", "Replies", new { id = Model.Id })
        }
    </div>
</div>
<p>
    @if (Int32.Parse(User.Identity.GetUserId()) == Model.UserId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.Raw(" |")
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        @Html.Raw(" |")
    }
    @Html.ActionLink("Back to List", "Tickets")
</p>
