@model IEnumerable<WebUI.ViewModels.TicketViewModel>
<div>
    <p class="create_ticket">
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table_class">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyMessage)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfTicket)
                </td>
                <td>
                    @if (item.ReplyMessage == null)
                    {
                        <p>Sorry, no replies :(</p>
                    }
                    else
                    {
                        <a href="@Url.Action("Details",new {id=item.Id})">View Reply</a>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Ticket", new { id = item.Id })"><img alt="edit" src="/Content/edit.png" class="action" /></a>
                    <a href="@Url.Action("Delete", "Ticket", new { id = item.Id })"><img alt="edit" src="/Content/delete.png" class="action" /></a>
                    <a href="@Url.Action("Details", "Ticket", new { id = item.Id })"><img alt="edit" src="/Content/detail.png" class="action" /></a>
                </td>
            </tr>
        }
    </table>
</div>
