@model WebUI.ViewModels.FeedbackViewModel

@{
    Layout = null;
}

<h3>Are you sure you want to delete this?</h3>
<div id="replyDelete">
    @using (Html.BeginForm("Delete", "Feedback"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserToId)
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.FeedbackMessage)
                    @Html.ValidationMessageFor(model => model.FeedbackMessage)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    @Html.ActionLink("Back to profile", "ViewProfile", "Account", new { id = Model.UserToId }, null)
                </div>
            </div>
        </div>
    }
</div>
